
/*로그인영역*/





/*디텍토리영역*/
#topMenu {
    height: 30px;
    width: 850px;
}
#topMenu ul li {
    list-style: none;
    color: white;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
#topMenu .menuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 150px;
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
}
#topMenu .menuLink:hover {
    color: red;
    background-color: #4d4d4d;
}


/*서치바*/

.search_bar input{
    border-left: white;
    border-right: white;
    border-top: white;
    border-bottom-color: #222222;
    width: 300px;
    padding-top:20px;
}


/*로그인 회원가입 고객센터*/
.nav {}
.nav-tit {text-align: right; }
.nav-tit a  {
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 0.9rem;
  margin-top: 20px;
  display: inline-block;
  font-weight: normal;
}


.footer {
  background-color:#222222;
  height:300px;
  text-align: center;

}
.footer_line li{
  text-decoration:none;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative; display: inline-block;
  padding-left: 30px;
}
.footer li{
  text-decoration:none;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative; display: inline;
 }
.footer a{
  text-decoration:none;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative; display: inline;
}
.footer address{
  text-decoration:none;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative; display: inline;
}
